* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", sans-serif;
}
body {
    background-color: rgb(1, 0, 1);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper {
    width: 100%;
    overflow: hidden;
    background: #12101C;
    height: 100vh;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
}

/*-------------------------scrollbar-------------------*/
body::-webkit-scrollbar

/*SIZE*/
    {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: #1f2028;
}

body::-webkit-scrollbar-thumb {
    background-color: #161C24;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

/*----------------------Top----------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
}

nav .time-box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    user-select: none;
}

.time-box p {
    color: rgba(239, 241, 245, 0.69);
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.choose-bg {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
    padding-left: 60px;
}

.choose-bg .item {
    width: 18px;
    height: 19px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-bg .item p {
    color: rgba(239, 241, 245, 0.69);
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
}

.intro-box {
    margin: auto;
    margin-top: 38px;
    width: 234px;
    height: 24px;
    border-radius: 4px;
    background: #201E2F;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    column-gap: 9px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.intro-box p {
    color: #7D7798;
    font-family: Fira Code;
    font-size: 9px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.intro-box:hover {
    border: 0.75px solid #CAA6F9;
}

.intro-box:active {
    border: 0.75px solid #A16CE7;
}

.bg-box {
    padding-top: 17px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    padding-bottom: 29px;
    transition: 0.2s ease-in-out;
}

.bg-box .bg-item {
    cursor: pointer;
    width: 50px;
    height: 26px;
    border-radius: 4px;
    background-image: url('/static/img/evening-sky.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.bg-item:hover {
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-item:active {
    transform: scale(0.9);
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-box .bg-item2 {
    cursor: pointer;
    width: 50px;
    height: 26px;
    border-radius: 4px;
    background-image: url('/static/img/storm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.bg-item2:hover {
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-item2:active {
    transform: scale(0.9);
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}


.bg-box .bg-item3 {
    cursor: pointer;
    width: 50px;
    height: 26px;
    border-radius: 4px;
    background: #2E2C37;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.bg-item3:hover {
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-item3:active {
    transform: scale(0.9);
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-box .bg-item4 {
    cursor: pointer;
    width: 50px;
    height: 26px;
    border-radius: 4px;
    background: #2E2C37;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.bg-item4:hover {
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-item4:active {
    transform: scale(0.9);
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-box .bg-item5 {
    cursor: pointer;
    width: 50px;
    height: 26px;
    border-radius: 4px;
    background: #2E2C37;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.bg-item5:hover {
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-item5:active {
    transform: scale(0.9);
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-box .bg-item6 {
    cursor: pointer;
    width: 50px;
    height: 26px;
    border-radius: 4px;
    background: #2E2C37;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.bg-item6:hover {
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}

.bg-item6:active {
    transform: scale(0.9);
    border-radius: 1px;
    border: 1px solid #CAA6F9;
}
.main-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 140px;
    padding-bottom: 25px;
    height: 100% -125px;
}

.main-bg img {
    transition: 0.2s ease-in-out;
    transform: scale(1);
    opacity: 1;
    width: 934px;
    height: 495px;
    border-radius: 16px;
}

.footer {
    margin: auto;
    width: 262px;
    height: 53px;
    border-radius: 12px;
    background: #201E2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer svg{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    
}
.footer svg:hover{
    transform: scale(1.16);
    fill: rgba(125, 119, 152, 0.53);
}
.footer svg:active{
    transform: scale(1);
    fill: #7366B0;
}
@-webkit-keyframes BackIn {
    from { 
        transform: translateX(0);
    }

    to {
        transform: translateX(68%);
    }

}

.animation-status7 {
    animation: BackIn 0.5s ease-out forwards;
}

@-webkit-keyframes BackIn2 {
    from { 
        transform: translateX(68%);
    }

    to {
        transform: translateX(0);
    }

}

.animation-status8 {
    animation: BackIn2 0.5s ease-out forwards;
}
/*--------------Load----------*/
.loader {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(202, 166, 249, 0.85);
    ;
    border-top-color: transparent;
    animation: rot1 1.2s linear infinite;
}

@keyframes rot1 {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ZoomIn {
    from {

        transform: scale(0.8);
        opacity: 0;
    }

    to {

        transform: scale(1);
        opacity: 1;
    }

}

.animation-status6 {
    animation: ZoomIn 0.3s ease-out forwards;
}
.main-bg img:hover{
    cursor: pointer;
    transform: scale(1.03);
    opacity: 0.8;
    border: 1px solid #CAA6F9;
}
.main-bg img:active{
    cursor: pointer;
    transform: scale(1);
    opacity: 0.8;
    border: 1px solid #CAA6F9;
}
.ct {
    position: absolute;
    z-index: 999;
    width: 82px;
    height: 90px;
    border-radius: 6px;
    border: 1px solid rgba(217, 217, 217, 0.13);
    background: #201E2F;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 3px 4px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.ct .it {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    width: 75px;
    height: 19px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.ct .it:hover {
    border-radius: 3px;
    background: #433F56;

}

.ct .it:active {
    background: #3A3747;
}

.ct .it p {
    color: rgba(255, 255, 255, 0.53);
    font-family: Fira Code;
    font-size: 9px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}