* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", sans-serif;
}

body {
    background-color: rgb(1, 0, 1);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper2 {
    width: 100%;
    overflow: hidden;
    background: #12101C;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 20px;
}

/*-------------------------scrollbar-------------------*/
body::-webkit-scrollbar

/*SIZE*/
    {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: #1f2028;
}

body::-webkit-scrollbar-thumb {
    background-color: #161C24;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

/*----------------------Top----------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
}

nav .time-box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    user-select: none;
}

.time-box p {
    color: rgba(239, 241, 245, 0.69);
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.choose-bg {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
    padding-left: 60px;
}

.choose-bg .item {
    width: 18px;
    height: 19px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-bg .item p {
    color: rgba(239, 241, 245, 0.69);
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
}

.intro-box {
    margin: auto;
    margin-top: 38px;
    width: 234px;
    height: 24px;
    border-radius: 4px;
    background: #201E2F;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    column-gap: 9px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    border: 0.75px solid #CAA6F9;
}

.intro-box p {
    color: #7D7798;
    font-family: Fira Code;
    font-size: 9px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.intro-box:hover {
    border: 0.75px solid #CAA6F9;
}

.intro-box:active {
    border: 0.75px solid #A16CE7;
}


.footer {
    margin: auto;
    width: 262px;
    height: 53px;
    border-radius: 12px;
    background: #201E2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer svg {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(1);

}

.footer svg:hover {
    transform: scale(1.16);
    fill: rgba(125, 119, 152, 0.53);
}

.footer svg:active {
    transform: scale(1);
    fill: #7366B0;
}

@-webkit-keyframes BackIn {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(68%);
    }

}

.animation-status7 {
    animation: BackIn 0.5s ease-out forwards;
}

@-webkit-keyframes BackIn2 {
    from {
        transform: translateX(68%);
    }

    to {
        transform: translateX(0);
    }

}

.animation-status8 {
    animation: BackIn2 0.5s ease-out forwards;
}

/*--------------Load----------*/
.loader {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(202, 166, 249, 0.85);
    ;
    border-top-color: transparent;
    animation: rot1 1.2s linear infinite;
}

@keyframes rot1 {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ZoomIn {
    from {

        transform: scale(0.8);
        opacity: 0;
    }

    to {

        transform: scale(1);
        opacity: 1;
    }

}

.animation-status6 {
    animation: ZoomIn 0.3s ease-out forwards;
}


.ct {
    position: absolute;
    z-index: 999;
    width: 82px;
    height: 90px;
    border-radius: 6px;
    border: 1px solid rgba(217, 217, 217, 0.13);
    background: #201E2F;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 3px 4px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.ct .it {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    width: 75px;
    height: 19px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.ct .it:hover {
    border-radius: 3px;
    background: #433F56;

}

.ct .it:active {
    background: #3A3747;
}

.ct .it p {
    color: rgba(255, 255, 255, 0.53);
    font-family: Fira Code;
    font-size: 9px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.up_tile {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 65px;
    border-radius: 5px;
    background: #2E2C37;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.line {

    width: 756.009px;
    height: 1px;
    margin: auto;
    color: #BFB5EA;
    font-family: Fira Code;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.6px;

}

.ht_up {
    color: rgba(255, 255, 255, 0.73);
    font-family: Fira Code;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ht_mid_up {
    color: rgba(255, 255, 255, 0.55);
    font-family: Fira Code;
    font-size: 13px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.up_ima {
    width: 171px;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #2E2C37;
}

.text_up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}

.tl_up {
    color: #FFF;
    font-family: Fira Code;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tl_up_2 {
    color: rgba(255, 255, 255, 0.55);
    font-family: Fira Code;
    font-size: 13px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.screen1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 34px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    overflow: auto;
}
.screen1::-webkit-scrollbar

/*SIZE*/
    {
   display: none;
}

.search_word_box {
    width: 551px;
    height: 37px;
    position: relative;
}

.big_data_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 21px;
}

.search_word {
    width: 551px;
    height: 37px;
    border-radius: 4px;
    background: #201E2F;
    outline: none;
    border: none;
    cursor: text;
    color: #7D7798;
    font-family: Fira Code;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.42px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search_word::placeholder {
    color: #7D7798;
    font-family: Fira Code;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.42px;
}

.data_box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 21px;
}

.search_word_icon {
    position: absolute;
    top: 29%;
    right: 14px;
}

.item_data {
    width: 349px;
    height: 206px;
    border-radius: 4px;
    background: #201E2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 23px;
    padding-left: 23px;
    padding-right: 23px;
    transform: scale(1);
    transition: 0.2s;
    cursor: pointer;
}
.item_data:hover{
    border: 1px solid #CAA6F9;
    transform: scale(1.05);
    box-shadow: 0px 0px 120px 0px rgba(111, 78, 154, 0.56);
}
.item_data:active{
    border: 1px solid #CAA6F9;
    transform: scale(1);
    box-shadow: 0px 0px 120px 0px rgba(111, 78, 154, 0.56);
}

.data_icon_box {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background: #BFB5EA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data_word_box {
    display: flex;
    justify-content: center;
    row-gap: 14px;
    flex-direction: column;
}

.head_data {
    width: 318px;
    height: 42px;
    color: #CAA6F9;
    font-family: Fira Code;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.17px;
}

.mid_data {
    width: 307px;
    height: 44px;
    color: #978EBF;
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.11px;
}
.head_data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_data p {
    color: #BFB5EA;
    font-family: Fira Code;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
}

#tailieu_yt {
    width: 912px;
    height: 418px;
    border-radius: 5px;
}

.text_tailieu {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    width: 930px;
}

.video_tailieu_box {
    overflow: auto;
    height: calc(100vh - 191px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
    padding: 20px;
    overflow: auto;
    padding-top: 30px;
}

.video_tailieu_box::-webkit-scrollbar {
    display: none;
}

.khoa_hoc p {
    color: #CAA6F9;
    font-family: Fira Code;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.17px;
}

.khoa_hoc {
    width: 930px;
}

.khoa_hoc_mini p {
    color: #978EBF;
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.11px;
}

.key_lib_box {
    height: calc(100vh - 191px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
    padding: 20px;
}
#screen_box {
    height: calc(100vh - 191px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 30px;
}